.postAJobContainer {
    padding: 20px; 
    color: #263c54;
    display: flex;
}
.postAJobContainer .formSection {
    margin: auto auto 25px auto;
    width: 100%;
    max-width: 1000px;
} 

.postAJobContainer .input-2 {
    display: flex;
    flex-wrap: wrap;
}