.socialContainer {
    .icon-bar {
        display: flex; 
       a {
            flex: 1;
            text-align: center;
            padding: 10px;
            transition: all 0.3s ease;
            color: white;
            transition: 0.3s;
            justify-content: center;
            cursor: pointer;
        }   
        .linkedin {
            background: #007bb5;
            color: white;
        } 
        .slack {
            background: #531754;
            color: white;
        }
    }
}

/* 
.facebook { background: #3B5998; } 
.twitter { background: #55ACEE; } 
.google { background: #dd4b39; } 
.youtube { background: #bb0000; } 
*/

@media only screen and (max-width: 768px) { 
    .icon-bar { 
        width: 100%;
        -webkit-transform: none;
        transform: none;
        top: unset; 
        bottom: 0px;  
    }
    .icon-bar a {
        width: 50%;
        height: 45px;
        float: left;
    }
 }