.theWhalesText { 
    width: 100%;
    font-size: 90px;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    top: 240px;
    text-align: center;
    z-index: 9;
    transition: 0.3s;
    text-shadow: 0px 10px 25px #263c54;
}