* {
	box-sizing: border-box; 
}
html {
    height:100%;
    padding:0;
    margin:0;
	-webkit-text-size-adjust: 100%; 
}
body {
    height:100%;
	padding: 0;
	margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
a {
    text-decoration: none;
}
#root {
    height: 100%;
}
/* .noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none;
         -moz-user-select: none; 
          -ms-user-select: none;
              user-select: none;                        
} */
.nomargin {
    margin: 0px;
}

.loginContainer {
	background-image: linear-gradient(120deg, #5159ab 0%, #1a2b6d 100%); /* #e0c3fc #8ec5fc  */
	background-size: 400% 400%;
	-webkit-animation: Gradient 7s ease infinite;
	-moz-animation: Gradient 7s ease infinite;
    animation: Gradient 7s ease infinite;
    position: fixed;
    width: 100%;
    height: 100%;
}
@-webkit-keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}
@keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}



.mainContainer {
    width: 100%;  
    float: left; 
}
.pageHeading {
    width: 90%;
    margin: auto auto 10px auto;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
}



@media only screen and (max-width: 1024px) {
    .mainContainer { 
        margin-bottom: 60px;
        margin-top: 60px;
    } 
}

.mc_1 {
    background-color: #b1b9db;
}
.mc_2 {
    background-color: #8891b6;
}
.mc_3 {
    background-color: #5a6592;
}
.mc_4 {
    background-color: #1a2b6d;
    color: #fff;
} 
.mc_1_text {
    color: #b1b9db;
}
.mc_2_text {
    color: #8891b6;
}
.mc_3_text {
    color: #5a6592;
}
.mc_4_text {
    color: #1a2b6d;
}
 

.whiteBG{
    background: #fff;
}
.greyBG {
    background: #f2f2f2;
}
.centerText {
    text-align: center;
}


/* HR Overlay */
.HROverlay {  
    width: 100%;
    height: 100%;
    position: fixed;
    background: #1a2b6d;
    z-index: 99999;   
}
.middleOverlay {
    width: 100px;
    height: 100px;
    background-color: #fff; 
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0; 
    margin: auto;
    font-size: 40px;
    text-align: center;
    line-height: 90px;
    color: #fff;
    background: #1a2b6d;
    border: 5px solid #fff;
    font-weight: bold;
}
/* end HR Overlay */





/* ADD BUTTON */ 
.addBtn{
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 20px;
    padding: 2px 10px;
    font-weight: bold; 
    -webkit-appearance: none;
    appearance: none;
    background-color: #1a2b6d;
    color: #fff;
    border-radius: 4px;
    float: right;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 3px 8px rgba(26, 43, 109, 0.43);
}
.addBtn:focus {
    outline: 0;
}
.addBtn:before, .addBtn:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.addBtn:before{
    display: none;
    top: -75%;
    background-image:  
    radial-gradient(circle, #1a2b6d 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, #1a2b6d 20%, transparent 30%),
    radial-gradient(circle, #1a2b6d 20%, transparent 20%), 
    radial-gradient(circle, #1a2b6d 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, #1a2b6d 15%, transparent 20%),
    radial-gradient(circle, #1a2b6d 20%, transparent 20%),
    radial-gradient(circle, #1a2b6d 20%, transparent 20%),
    radial-gradient(circle, #1a2b6d 20%, transparent 20%),
    radial-gradient(circle, #1a2b6d 20%, transparent 20%);
    background-size: 10px 10px, 20px 20px, 15px 15px, 20px 20px, 18px 18px, 10px 10px, 15px 15px, 10px 10px, 18px 18px; 
}
.addBtn:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, #1a2b6d 20%, transparent 20%), 
    radial-gradient(circle, #1a2b6d 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, #1a2b6d 15%, transparent 20%),
    radial-gradient(circle, #1a2b6d 20%, transparent 20%),
    radial-gradient(circle, #1a2b6d 20%, transparent 20%),
    radial-gradient(circle, #1a2b6d 20%, transparent 20%),
    radial-gradient(circle, #1a2b6d 20%, transparent 20%);
     background-size: 5px 5px, 20px 20px, 18px 18px, 20px 20px, 15px 15px, 10px 10px, 20px 20px;
}
.addBtn:active{
    transform: scale(0.9);
    background-color: darken(#1a2b6d, 5%); 
}
.addBtn.animate:before{
    display: block;
    animation: topAnimation ease-in-out 1s forwards;
}
.addBtn.animate:after{
    display: block;
    animation: bottomAnimation ease-in-out 1s forwards;
}  
@keyframes topAnimation {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
@keyframes bottomAnimation {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
/* end ADD BUTTON */ 





@media only screen and (max-width: 677px) {
    .loginContainer {
        background-image: none; 
        animation: none;
    } 
    .mainContainer {
        position: absolute; 
    }  
}