* {
	box-sizing: border-box; 
}
html {
    height:100%;
    padding:0;
    margin:0;
	-webkit-text-size-adjust: 100%; 
}
body {
    height:100%;
	padding: 0;
	margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
a {
    text-decoration: none;
}
#root {
    height: 100%;
}
/* .noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none;
         -moz-user-select: none; 
          -ms-user-select: none;
              user-select: none;                        
} */
.nomargin {
    margin: 0px;
}

.loginContainer {
	background-image: linear-gradient(120deg, #5159ab 0%, #1a2b6d 100%); /* #e0c3fc #8ec5fc  */
	background-size: 400% 400%;
	-webkit-animation: Gradient 7s ease infinite;
	-moz-animation: Gradient 7s ease infinite;
    animation: Gradient 7s ease infinite;
    position: fixed;
    width: 100%;
    height: 100%;
}

.mainContainer {
    width: 100%; 
    float: left;  
}
.pageHeading {
    width: 90%;
    margin: auto;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
}



@media only screen and (max-width: 1024px) {
    .mainContainer { 
        margin-bottom: 60px;
        margin-top: 60px;
    } 
}
 


.mc_1 {
    background-color: #b1b9db;
}
.mc_2 {
    background-color: #8891b6;
}
.mc_3 {
    background-color: #5a6592;
}
.mc_4 {
    background-color: #1a2b6d;
}

.full {
    width: 100%;
    float: left;
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
	}
	@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}





/* HR Overlay */

.HROverlay {  
    width: 100%;
    height: 100%;
    position: fixed;
    background: #1a2b6d;
    z-index: 99999;   
}
.middleOverlay {
    width: 100px;
    height: 100px;
    background-color: #fff; 
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0; 
    margin: auto;
    font-size: 40px;
    text-align: center;
    line-height: 90px;
    color: #fff;
    background: #1a2b6d;
    border: 5px solid #fff;
    font-weight: bold;
}




@media only screen and (max-width: 677px) {
    .loginContainer {
        background-image: none; 
        animation: none;
    }
    
}