* {
	box-sizing: border-box; 
}
html {
    height:100%;
    padding:0;
    margin:0;
	-webkit-text-size-adjust: 100%; 
}
body {
    height:100%;
	padding: 0;
	margin: 0px;
    font-family: siteFont;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
@font-face {
    font-family: siteFont;
    src: url("./files/font/TwCenMT.ttf");
  }

a {
    text-decoration: none;
}
p {
    font-size: 18px;
}
textarea, 
input {
    font-family: siteFont;
}
#root {
    height: 100%;
}
/* .noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none;
         -moz-user-select: none; 
          -ms-user-select: none;
              user-select: none;                        
} */
.nomargin {
    margin: 0px;
}

.loginContainer {
	background-image: linear-gradient(120deg, #96b4be 0%, #263c54 100%); 
	background-size: 400% 400%;
	-webkit-animation: Gradient 7s ease infinite;
	-moz-animation: Gradient 7s ease infinite;
    animation: Gradient 7s ease infinite;
    position: fixed;
    width: 100%;
    height: 100%;
}
@-webkit-keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}
@keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}


.rootContainer {
  display: flex;
}
.navContainer{
  width: 300px;
  height: 100vh;
  display: flex;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  background: #f6f7f8;
  width: calc(100% - 300px);  
}
.pageHeading {
    width: 100%; 
    min-height: 60px;  
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
    position: relative; 
    line-height: 40px;
    background: #546f82;
    color: #fff;
    display: flex;
}
.pageHeadingStatic {
  width: 100%; 
  height: 60px;
  font-weight: bold; 
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
  position: relative; 
  line-height: 40px;
  background: #263c54;
  color: #fff;
  position: fixed;
}


@media only screen and (max-width: 1024px) {  
    .rootContainer {
      display: flex;
      flex-direction: column;
    }
    .navContainer{
      width: 100%;
      height: unset;
      display: flex;
    }
    .mainContainer {
      display: flex; 
      flex-direction: column;
      width: 100%;  
    }


}



.mc_1 {
    background-color: #96b4be;
}
.mc_2 {
    background-color: #6f90a1;
}
.mc_3 {
    background-color: #546f82;
}
.mc_4 {
    background-color: #263c54;
    color: #fff;
} 
.mc_1_text {
    color: #96b4be;
}
.mc_2_text {
    color: #6f90a1;
}
.mc_3_text {
    color: #546f82;
}
.mc_4_text {
    color: #263c54;
}
 

.whiteBG{
    background: #fff;
}
.greyBG {
    background: #263c542e;
}
.centerText {
    text-align: center;
}

/* migaloo Overlay */
.migalooOverlay {  
    width: 100%;
    height: 100%;
    position: fixed;
    background: #263c54;
    z-index: 99999;   
}
.middleOverlay { 
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    background-color: #263c54;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: bold; 
    background-image: url("./files/images/logoW.png");
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
}
/* end migaloo Overlay */

.backButton {
    width: 60px;
    height: 60px;
    outline: 0;
    background-image: url("./files/images/x_icon.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0px;
    top: 0px;
}


 
/* Pagination Start */
.paginationContainer ul {
    width: 100%;
    text-align: center;
    background-color: #96b4be;
    padding: 5px 5px;
}

.paginationContainer li {
    display: inline-block;
    color: #263c54;
}
.paginationContainer a {
    display: inline-block;
    padding: 15px 15px;
    min-width: 48px;
    cursor: pointer;
    outline: 0;
    color: #f6f7f8;
}
.paginationContainer a:hover {
    background-color: #263c542e;
    color: #fff;
}
.paginationContainer .active { 
    font-weight: bold;
    background-color: #263c542e;
}
/* Pagination End */





/* SLIDER ANIMATION */ 

.mainContainer { 
  overflow: hidden;
}

 
.jobListContainer.page-enter {
  animation: slideInLeft 0.4s forwards;
}
.jobListContainer.page-exit {
  animation: slideOutLeft 0.4s forwards;
}
/* .candidateListContainer.page-enter {
  animation: slideInRight 0.4s forwards;
}
.candidateListContainer.page-exit {
  animation: slideOutRight 0.4s forwards;
} */
/* .chatContainer.page-enter {
    animation: slideInLeft 0.4s forwards;
}
.chatContainer.page-exit {
    animation: slideOutLeft 0.4s forwards;
} */
.jobPostingContainer.page-enter {
    animation: slideInRight 0.4s forwards;
}
.jobPostingContainer.page-exit {
    animation: slideOutLeft 0.4s forwards;
}
 

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}






