.carList {
	width: 100%;
	float: left;  
} 

.carSaleSliderContainer {
    width: 100%;
    min-height: 500px;
	float: left;
	background: #757575;
	padding: 50px;
}
.sliderSaleContain {
	max-width: 1550px;
	margin: auto;
} 

.box {
    width: 25%;
    display: inline-block;
    padding: 5px;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
} 
.box figure {
    position: relative;
    margin: 5px 5px;
	cursor: pointer;
    overflow: hidden;
    color: #fff;
}
.box figure img {
    max-width: 100%;
    opacity: 0.8;
}
.box figure figcaption {
    text-transform: uppercase; 
}
.box figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}
.box figure h2 span {
    font-weight: 800;
}
.box figure h2,
.box figure p {
    margin: 0;
}
.box figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
.box a {
    outline: none;
    color: #3498db;
    text-decoration: none;
} 

/*---------------*/
/***** Marley *****/
/*---------------*/

figure.effect-marley figcaption {
    text-align: right;
}
figure.effect-marley h2,
figure.effect-marley p {
    position: absolute;
    right: 30px;
    left: 30px;
    padding: 10px 0;
}
figure.effect-marley p {
    bottom: 0px;
    line-height: 1.5;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}
figure.effect-marley h2 {
    top: 0px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}
figure.effect-marley:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
figure.effect-marley h2::after {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    transform: translate3d(0,40px,0);
}
figure.effect-marley h2::after,
figure.effect-marley p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	font-size: 20px;
}
figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	font-size: 20px;
}

 


@media only screen and (max-width: 1159px) {
    .carSaleSliderContainer {
		padding:20px;
	}
	.box {
		width: 50%;
	}
}
@media only screen and (max-width: 669px) {
    .carSaleSliderContainer {
		padding:15px;
	}
	.box {
		width: 100%;
	}
}


/* PARALAX STYLES FOR ALL PAGE (maybe make a hero component for this) */
.heroTextImage {
	background-image: url('../../../public/images/dellHeroLogo.png');  
	background-repeat: no-repeat; 
	background-size: 360px;
	width: 100%;
	height: 380px;
	text-align: center;
	margin: auto;
	background-position: center;
	margin-top: 110px;
	opacity: 0.7;
} 
.heroTextB{
	color: #ffffff;
	text-align: center;
	font-size: 24px;
	letter-spacing: 5px;
}
/* PARALAX STYLES FOR ALL PAGE (maybe make a hero component for this) */