.footerContainer { 
    position: fixed;
    z-index: -1;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #2e2e2e;
    text-align: center;
    line-height: 100px;
    background-image:url('../../../public/images/dellLogoMiniWhite.png');
    background-repeat: no-repeat;
    background-size: 130px;
    background-position-y: 20px;
}

.inFooterContainer {
    width: 500px;
    float: right;
    position: relative;
}

.navFootItem {
    float: right;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.navFootItem:hover {
    background: #757575b0;
}