.lp2_navBar {
        #navBar {
        height: 100vh;
        width: 300px; 
        background:#263c54;
        display: flex;
        flex-direction: column;
        .whaleContainer {
            padding-top: 20px;
        }
        .topNavContainer {
            display: flex;    
            flex-direction: column;
        }
        .bottomNavContainer {
            display: flex; 
            flex: 1;
            flex-direction: column-reverse;
        }
        a {
            display: flex;
            color: #ffffffa1;
            font-size: 24px; 
            padding: 20px;
            &:hover {
                color: #fff;
            }
            &.active {
                color: #ffffff; 
            }
        } 
    } 
    .topSubItem.active + .subNavBox {
        height: 70px;
        max-height: 70px;
        box-shadow: inset 0px 0px 5px #2a2c2d;
        animation-name: slideDropDown;
        animation-duration: 0.5s;
    } 
    @keyframes slideDropDown {
        from {height: 0px;}
        to {height: 70px;}
    } 
    .subNavBox { 
        padding-left: 40px;
        background: #546f8270;

        height: 0px; 
        max-height: 0;
        overflow: hidden; 
    }

    #navBarMobile {
        display: none;
        height: 50px;
        color:#fff;
        .mobileWhaleContainer {
            img {
                width: 40px;
                cursor: pointer;
                margin-left: 10px;
                margin-top: 7px;
            }
        }
    } 


    /* NAV-HAMBURGER */
    #nav-icon3 {
        width: 32px;
        height: 45px;
        position: relative; 
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        margin: auto 10px auto auto;
        span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: #fff;
            border-radius: 5px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            &:nth-child(1) {
                top: 10px;
            }
            &:nth-child(2),
            &:nth-child(3) {
                top: 20px;
            }
            &:nth-child(4) {
                top: 30px;
            }

            .open span:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
            .open span:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            .open span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            .open span:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        } 
    }
    /* end NAV-HAMBURGER */
}

/* side nav mobile */ 
.navBarMobileItem {
    a { 
        display: flex;
        color: #263c54;
        font-size: 22px;
        font-weight: bold; 
        padding: 15px 40px; 
    }
    .side-menu {
        height: 100vh;
        display: flex;
        flex-direction: column;
        .subNavBox a {
            padding-left: 60px;
            font-size: 18px;
            background: #131e2a17;
        }
        .topNavContainer {
            display: flex;    
            flex-direction: column;
        }
        .bottomNavContainer {
            display: flex; 
            flex: 1;
            flex-direction: column-reverse;
        }
    }
} 


@media only screen and (max-width: 1024px) {
    .lp2_navBar #navBar {
        display: none;
    }
    .lp2_navBar #navBarMobile {
        display: flex;
    }
} 

@media only screen and (max-width: 768px) {
} 
 
