.lp2_recruiter .fullRecruiterText {
    width: 100%;
    font-size: 32px;
    display: inline-block;
    color: #263c54;
    text-align: center;
    padding-top: 80px;
}

.lp2_recruiter .flex {
    display: flex;
    justify-content: center;
    flex: 1 0;
    padding: 20px; 
    text-align: center;
}
.lp2_recruiter .r_para {
    margin: 10px; 
    background: #6f90a112;
}

.lp2_recruiter .sc_Background {
    width: 350px;
    height: 40px;
    line-height: 40px;
    background-color: #6f90a112;
    color: #263c54; 
    font-size: 32px; 
    padding-left: 5px; 
}
.lp2_recruiter .recruiterContent { 
    max-width: 600px;
    padding: 20px 10px;
    overflow: hidden;
    font-size: 20px;
    margin: auto;
}

.lp2_recruiter .whaleCool { 
    justify-content: center;
    align-items: flex-end;
}
.lp2_recruiter .soundCool { 
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.lp2_recruiter .flexCenter {
    text-align: center;
}

.lp2_recruiter .whaleCool img {
    width: 230px; 
    margin-bottom: -5px;
}

.lp2_recruiter .signUpBtnHome {
    cursor: pointer;  
    padding: 10px 25px; 
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: #263c54;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
    font-size: 32px;
    transition: 0.3s;
    margin-bottom: 100px; 
} 
.lp2_recruiter .signUpBtnHome:hover {
    background-color: #96b4be;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background-color: #96b4be
}
 

@media (max-width: 1024px){ 
    .lp2_recruiter .flex { 
        flex: 1 0 100%;
    }  
    .lp2_recruiter .signUpBtnHome {
        width: 100%;
    } 
    .lp2_recruiter .fullRecruiterText {
        padding-top: 20px;
    }
}