
/* ----- WHAlE LOGO */
.whaleHeadContainer {
    width: 100px;
    transition: 0.3s;
    position: relative;
     img {
        width: 100%;    
        margin-top: 20px;
        margin-left: 10px;
    }
    .whaleHeadSpray {
        position: absolute;
        margin-left: 43px;
        margin-top: -90px;
        transition: 0.3s;
        z-index: 1;
    } 
}

@media only screen and (max-width: 768px) {
    .whaleHeadContainer {
        width: 75px; 
        .whaleHeadSpray { 
            margin-left: 32px;
            margin-top: -70px;
        }
    }
}
/* ----- end WHAlE LOGO */