.landingSection1 {
    width: 100%;
    float: left;
    color: #000;  
    background: #263c542e;
    overflow: hidden;
}
.csImg img { 
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px #263c54;
    border: 4px solid #95b3be;
}
.maxTextW {
    max-width: 460px;
    margin: auto;
    color: #263c54;
    transition: 0.3s;
}
.ls_text{
    width: 100%;
    float: left;
    color: #263c54;
    transition: 0.3s;
}

.csImg_desktop{display: block;}
.csImg_mobile{display: none;}


@media only screen and (max-width: 1024px) {
    .csImg_desktop{display: none;}
    .csImg_mobile{display: block;}  
}
@media only screen and (max-width: 768px) { 
}