.landingSection3 {
    width: 100%;
    float: left;
    overflow: hidden;
}
.signUpBtnHome{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
    color: #fff;
    background: #1a2b6d;
    cursor: pointer;
}

.moduleText h1 { 
    width: 400px;
    margin: auto;
}

.moduleText p {
    width: 400px;
    margin: auto;
}