.activeJobContainer .addJobButton {
    width: 110px;
    height: 110px;
    border-radius: 10px;
    line-height: 110px;
    text-align: center;
    font-size: 130px;
    color: #fff;
    background: #e6e8ef;
    margin: auto;
    margin-top: 30px; 
}
.activeJobContainer .noJobsText {
    text-align: center;
    font-size: 10px;
    padding: 10px;
}
.activeJobContainer .jobListContainer {
    width: 100%;
    float: left;
}
.activeJobContainer .jobListItem{ 
    padding: 10px 10px;
    font-size: 15px; 
    background: #1a2b6d;
    color: #fff;
}
.activeJobContainer .newPostingCount{
    width: 32px;
    height: 32px;
    margin-left: 10px;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgb(61, 59, 165);
    border: 2px solid rgb(97, 83, 83);
}
.activeJobContainer .createdTime{
    font-size: 12px;
    float: right;
    margin-top: 15px;
}