.activeJobContainer{
    overflow: auto
}

.activeJobContainer .jobPostingContainer {
    padding: 0px 10px 0px 10px;
}
.activeJobContainer .button{
    cursor: pointer;
    border-radius: 7px;
    width: 80%;
    background-color: #de3141;
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    margin: 40px auto 20px auto;
}