.activeJobContainer{
    overflow: auto
}

.activeJobContainer .jobPostingContainer {
    padding: 60px 10px 0px 10px;
}
.activeJobContainer .button{
    cursor: pointer;
    border-radius: 7px;
    width: 250px;
    background-color: rgb(158, 11, 11);
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    margin: 10px 10px;
}