.jobListClassContainer .addJobButton {
    width: 110px;
    height: 110px;
    border-radius: 10px;
    line-height: 110px;
    text-align: center;
    font-size: 130px;
    color: #fff;
    background: #e6e8ef;
    margin: auto;
    margin-top: 30px; 
}
.jobListClassContainer .jobShortDesc{
}
.jobListClassContainer .createdTime{
    float: right;
}

.jobListClassContainer .noJobsText {
    text-align: center;
    font-size: 10px;
    padding: 10px;
}
.jobListClassContainer .jobListContainer {
    width: 100%;
    padding-bottom: 60px;
}
.jobListClassContainer .candidateSearched {
    width: 100%;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #b1b9dbba;
    color: #ffffff;
    margin-top: 20px;
    padding-left: 5px;
    line-height: 30px;
    box-shadow: 0px 0px 0px 1px #fff;
}
.jobListClassContainer .searchJobList {
    width: 100%;
    height: 45px;
    font-size: 20px;
    padding: 10px;
    border: none; 
    border-bottom: 1px solid #1a2b6d14;
    border-radius: 0px;
    outline:0;
}
.jobListClassContainer .jobListItem{ 
    padding: 15px 10px;
    font-size: 15px; 
    background: #ffffff;
    color: #263c54;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #1a2b6d14;
}
.jobListClassContainer .createdTime{
    font-size: 12px;
} 
.jobListClassContainer .score{
    height: 100%;
    vertical-align: middle;
    text-align: right;
    top: 0px;
    left: 0px;
    font-size: 10px;
    font-weight: bold;
    background-color: #4caf5054;
    position: absolute;
    color: #263c54;
}

.jobListClassContainer .loaderContainer {
    min-height: 75px;
}
 
.jobListClassContainer span[class*='MuiTouchRipple-rippleVisible-']  { 
    color: #263c54; 
} 