.jobListClassContainer .addJobButton {
    width: 110px;
    height: 110px;
    border-radius: 10px;
    line-height: 110px;
    text-align: center;
    font-size: 130px;
    color: #fff;
    background: #e6e8ef;
    margin: auto;
    margin-top: 30px; 
}
.jobListClassContainer .noJobsText {
    text-align: center;
    font-size: 10px;
    padding: 10px;
}
.jobListClassContainer .jobListContainer {
    width: 100%;
    float: left;
}
.jobListClassContainer .jobListItem{ 
    padding: 5px 10px;
    font-size: 15px; 
    background: #1a2b6d;
    color: #fff;
    cursor: pointer;
    position: relative;
    border: 1px solid #615353;
}
.jobListClassContainer .createdTime{
    font-size: 12px;
}
.jobListClassContainer .jobInfo{

}
.jobListClassContainer .score{
    width: 40px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
    font-weight: bold; 
    font-weight: bold;
    background-color: #4CAF50;
    border: 1px solid #615353;
}