 
.jobListClassContainer .createdTime{
    float: right;
} 
.jobListClassContainer .jobListContainer {
    width: 100%; 
}
.jobListClassContainer .candidateSearched {
    width: 100%;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #b1b9dbba;
    color: #c2c2c2;
    margin-top: 20px;
    padding-left: 5px;
    line-height: 30px;
    box-shadow: 0px 0px 0px 1px #fff;
}
.jobListClassContainer .jobListItem:nth-child(even) {
    background: #f2f3f5;
}
.jobListClassContainer .jobListItem:hover {
    background: #fff;
}
.jobListClassContainer .searchJobList {
    width: 100%;
    height: 45px;
    font-size: 20px;
    background: #f2f3f5;
    padding: 10px;
    border: none; 
    border-bottom: 1px solid #1a2b6d14;
    border-radius: 0px;
    outline:0;
}
.jobListClassContainer .jobListItem{ 
    padding: 15px 10px;
    font-size: 1rem;  
    color: #263c54;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #1a2b6d14;
    border-top: 1px solid #1a2b6d14;
    margin-top: 5px;
    margin-bottom: 5px;
}
.jobListClassContainer .createdTime{
    font-size: 12px;
} 
.jobListClassContainer .score{
    height: 100%;
    vertical-align: middle;
    text-align: right;
    top: 0px;
    left: 0px;
    font-size: 10px;
    font-weight: bold;
    background-color: #4caf5054;
    position: absolute;
    color: #263c54;
}

.jobListClassContainer .loaderContainer {
    justify-content: center;
    display: flex;
    padding-top: 80px;
}
 
.jobListClassContainer span[class*='MuiTouchRipple-rippleVisible-']  { 
    color: #263c54; 
} 