.lp1_navBar #header {
    width: 100%; 
    height: 100px;  
    top: 0;
    z-index: 10;
    opacity: 1;
    border-bottom: 1px solid #fff;
    /* background: #fff; */
    transition: 00.3s;
    position: fixed;
}
.lp1_navBar .white {
    color: #fff;
}
.lp1_navBar .smallHeader {
    height: 50px !important;
    background: #263c54;
}
.lp1_navBar .smallHeader li {
    line-height: 50px !important; 
}
.lp1_navBar .smallHeader#header {
    border-bottom: 1px solid #fff;
    box-shadow: 0px 0px 2px 2px #000000;
}
.lp1_navBar .smallHeader .logo {
    padding: 3px 15px; 
    font-size: 25px; 
    border: 3px solid;  
    margin-top: 4px;
    margin-left: 5px;
    color: #263c54;
}
.lp1_navBar .smallHeader #nav-icon1 { 
    margin-top: -22px;
}
.lp1_navBar .smallHeader #nav-icon1 span {
    width: 40px;
}
.lp1_navBar .smallHeader #nav-icon1 span:nth-child(1) {
    top: 4px;
}
.lp1_navBar .smallHeader #nav-icon1 span:nth-child(2) {
    top: 16px;
}
.lp1_navBar .smallHeader #nav-icon1 span:nth-child(3) {
    top: 28px;
}

.lp1_navBar .smallHeader #navBar li,
.lp1_navBar .smallHeader .navBarA a {
    color: #fff;
}
 
  

.lp1_navBar #logoContainer {  
    float: left;     
} 
.lp1_navBar .logo {
    float: left;
    padding: 10px 25px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    border: 5px solid;
    font-weight: bold; 
    margin-top: 10px;
    margin-left: 10px;
    transition: 00.3s;
}

.lp1_navBar #navBar {
    float: right;
}
.lp1_navBar #navBar li {
    position: relative;
    line-height: 100px;
    transition: 00.3s;
    font-size: 28px;
    list-style-type: none;
    float: left;
    padding: 0px 15px;
} 

.lp1_navBar #navBar li:hover { 
    background: #6f90a1e8; 
}
.smallHeader #navBar li:hover { 
    background: #6f90a175;
}
.lp1_navBar #navBar li,
.lp1_navBar .navBarA a {
    text-decoration: none; 
    color: #fff;
} 
.lp1_navBar #navBarMobile {
    display: none;
}  
.lp1_navBar .side-menu li {
    font-size: 26px;
    text-align: center;
    list-style-type: none;
    color: #263c54;
    padding: 20px 80px;
}
.lp1_navBar .side-menu a {
    color: #fff;
} 
.lp1_navBar #nav-icon1 {
    width: 50px;
    height: 75px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; 
    right: 0;
    padding-right: 10px;
    z-index: 10;
}

.lp1_navBar #nav-icon1 span {
    display: block;
    position: absolute;
    height: 6px;
    width: 45px;
    background: #fff;
    border-radius: 9px;
    left: -15px;
    margin-top: 27px;
    opacity:1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.lp1_navBar .open span {
    background: #fff !important; 
}

.lp1_navBar .nav-iconAnimate {
    margin-top: 7px !important;
}

.lp1_navBar .hmbSpanA {
    cursor: pointer;
}
.lp1_navBar #nav-icon1 span:nth-child(1) {
    top: 5px;
}

.lp1_navBar #nav-icon1 span:nth-child(2) {
    top: 20px;
}

.lp1_navBar #nav-icon1 span:nth-child(3) {
    top: 35px;
}

.lp1_navBar #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.lp1_navBar #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.lp1_navBar #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}



.lp1_navBar .smallHeader .whaleContainer { 
    background-image: url("../../../files/images/landingPage/whaleMobileNav.png");
    width: 130px;
    height: 45px;
    background-position-y: 12px; 
}
.lp1_navBar .smallHeader .migalooLogoText {
    padding-left: 10px;
    display: block;
}
.lp1_navBar .smallHeader .whaleSpray {
    display: none;
}



@media only screen and (max-width: 1024px) {
    .lp1_navBar .heroContainer .heroHome {
        height: 400px;
    }
    .lp1_navBar #navBar {
        display: none;
    }
    .lp1_navBar #navBarMobile {
        display: block; 
        width: 100px;
        height: 100px;
        right: 0;
        position: absolute; 
    }
    .lp1_navBar .smallHeader #navBarMobile { 
        width: 90px;
        height: 50px; 
    } 
} 

@media only screen and (max-width: 768px) {
    .lp1_navBar .side-menu li {
        width: 100%; 
        margin: auto;
        border: 0px;
        text-align: center;
    }  
} 
 
@media only screen and (max-width: 600px) { 
    .lp1_navBar .smallHeader .whaleContainer {  
        margin-top: 4px;
        margin-left: 20px;
    } 
}

