.formItem { 
	width: 100%;
    padding: 5px 20px;
    float: left;
}
.formItem label{
	width: 110px;
	float: left;
}
.formItem input{
	width: 100%;
	height: 40px;
	float: left;
	padding: 10px;
	border: 0px; 
	font-size: 18px;
	background: none;
	border-bottom: 1px solid #fff;
    color: #fff; 
    border-radius: 0px;
}
.formItem .error { 
    border-bottom: 1px solid #E50000; 
} 

.formItem input::placeholder {
	color: #fff; 
}
.forgot-password{
	text-align: left;
	cursor: pointer;
    font-size: 12px;
    padding-left: 30px;
} 

@media only screen and (max-width: 677px) {
	.loginContent {
        min-height:unset; 
        height: 100%;
		width: 100%; 
		border-radius: 0px;  
		top: 0px;
    } 
    .tab-item.active {
        color: #263c54;
    } 
    .formItem input{
        border-bottom: 1px solid #eaeaea; 
        border-radius: 0px;
    } 
	.loginMiddle { 
		height: 100%;
		position: relative;
	}  
}