.formItem {
	height: 70px;
	width: 100%;
    float: left;
}
.formItem label{
	width: 110px;
	float: left;
}
.formItem input{
	width: 100%;
	height: 40px;
	float: left;
	padding: 10px;
	border: 0px; 
	font-size: 18px;
	background: none;
	border-bottom: 1px solid #fff;
	color: #fff; 
}

.formItem input::placeholder {
	color: #fff; 
}



@media only screen and (max-width: 677px) {
	.loginContent {
		min-height:unset;
		width: 100%;
		border-radius: 0px; 
		height: calc(100% - 110px);
	} 
	.loginMiddle { 
		height: calc(100% - 130px);
		position: fixed;
	}  
	.tabContainer {
		width: 100%;
	}
}