.landingSection3 {
    width: 100%;
    float: left;
    overflow: hidden;
    box-shadow: 0px 0px 5px 5px #494949;
}
 
.landingSection3 .sendEmailContainer {
    width:100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.landingSection3 .submitEmail {
    display: flex;
    height: 58px;
    background: #263c54;
    color: #fff;
    line-height: 58px;
    padding: 0px 30px;
    font-size: 22px;
}

.landingSection3 .emailSignUpInput {
    width: 70%;
    display: flex;
    height: 60px; 
    padding: 10px 0px 10px 10px; 
    transition: 0.3s;   
    outline: none;
    font-size: 22px;
    border-radius: 0px;
    border: none;

    animation-name: openEmail;
    animation-duration: 2s;
}

@keyframes openEmail {
    0%   {width: 15%;}
    25%  {width: 70%;}
    50%  {width: 70%;}
    100% {width: 70%;}
}
.landingSection3 .emailAnimatedTitle {
    text-align: center;
}

.landingSection3 .module_wrapper {
    width: 100%;
    float: left;
    position: relative; 
}
.landingSection3 .module_max {
    max-width: 1400px;
    margin: auto;
}
.landingSection3 .module_max .aos-animate {
    width: 50%;
    float: left; 
}
 
.landingSection3 .animated_half {
    width: 50%;
    position: relative;
    float: left; 
} 
.landingSection3 .animated_third {
    width: 33.3333%;
    float: left;
}
.landingSection3 .animated_half {
    width: 50%;
}


.landingSection3 .module_content { 
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: auto;
    text-align: center;
}
.landingSection3 .module_content p{ 
    font-size: 22px;
}

.landingSection3 .header_module_content { 
    width: 100%; 
    padding: 20px;
    min-height: 400px;
    margin: auto;
}

.landingSection3 .module_img {
    width: 100%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}
.landingSection3 .module_img1 {background-image: url('../../files/images/landingPage/landing1.jpg'); background-position: center;}
.landingSection3 .module_img2 {background-image: url('../../files/images/landingPage/landing2.jpg'); background-position: center;}
.landingSection3 .module_img3 {background-image: url('../../files/images/landingPage/landing3.jpg'); background-position: center;}
.landingSection3 .module_img4 {background-image: url('../../files/images/landingPage/landing4.jpg'); background-position: center;}

 

.landingSection3 .showOnMobile {
    display: none;
}


@media only screen and (max-width: 1024px) {
    .landingSection3 .module_wrapper {
        display: inline-block;
    }
    .landingSection3 .aos-animate,
    .landingSection3 .animated_third,
    .landingSection3 .animated_half {
        width: 100%;
    } 
    .landingSection3 .module_img {
        height: 300px;
    }
    .landingSection3 .module_content {
        width: 100%;
    }

    .landingSection3 .showOnDesktop {
        display: none;
    }
    .landingSection3 .showOnMobile {
        display: block;
    } 
    .landingSection3 .header_module_content {
        min-height: 200px; 
    }
} 

@media only screen and (max-width: 768px) {
    .landingSection3 .module_img {
        height: 250px;
    }
}