.jobPostingContainer .profileImage{
    float: right;
    margin: 20px;
    width: 200px;
}
.jobPostingContainer .jobTitle {
    font-weight: bold;
}
.jobPostingContainer .jobSalary {
    font-size: 14px;
}
.jobPostingContainer .jobPostingHeader {
    background: #546f82;
    color: #fff;
    padding: 20px;
    font-size: 22px;
}
.jobPostingContainer .jobPostingContent {    
    font-size: 16px; 
    margin: 0px 10px;
}
.jobPostingContainer .jobRequirements {
        padding: 20px;
        overflow: hidden;
}