#navBar_admin {
    width: 100%;    
    float: left;
}

#navBar_admin li {
    width: 33.3333%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    float: left;
    list-style-type: none;
    text-align: center;
    transition: 0.3s;
} 
#navBar_admin li:hover {
    border-top: 1px solid #fff;
}


.admNavBtn {
    color: #fff;
}




@media only screen and (max-width: 1024px) {  
    #navBar_admin {
        bottom: 0px;
        position: absolute;
    } 

}