.landingSection5 {
    width: 100%;  
    float: left;
    background: #fff;  
    display: table-cell;  
    vertical-align: middle;
    text-align: center;
}
 
.landingSection5 .techInfoContainer {
    display: inline-block;  
    padding: 350px 0px; 
}
 
.landingSection5 .techInfoText1 { 
    color:#263c54; 
    font-size: 45px;
    padding: 20px;
}
.landingSection5 .techInfoText2 { 
    color:#6f90a1; 
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 45px;
}
.landingSection5 .skillSection img {
    padding: 3px;
    width: 12%;
}

.landingSection5 .skillSectionL { 
    margin-top: -20px;
}



@media only screen and (max-width: 1024px) {  
    .landingSection5 .techInfoContainer { 
        padding: 250px 0px; 
    }
}