.employerContactListContainer .jobPostingContainer {
    padding: 0px 10px 0px 10px;
}
.employerContactListContainer .cellButton{
    cursor: pointer;
    border-radius: 7px;
    width: 60%;
    background-color: #263c54;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    display: inline-block;
}
.employerContactListContainer .button{
    cursor: pointer;
    border-radius: 7px;
    width: 60%;
    background-color: #263c54;
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    margin: 40px auto 20px auto;
}
.employerContactListContainer .contactTableBody{
    display: table;
    margin-top: 15px;
    width: 80%;
    margin: 40px auto 20px auto;
}
.employerContactListContainer .contactTableRow{
    display: table-row;
}
.employerContactListContainer .contactTableHeading {
    background-color: rgb(197, 197, 197);
    text-align: center;
    display: table-header-group;
    font-weight: bold;
}
.employerContactListContainer .contactTableCell {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
} 
.employerContactListContainer .center {
	text-align: center;
} 