.loginContainer {
	text-align: center;
}  
.loginMiddle { 
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.loginMiddle label {
	float: left;
	font-size: 20px;
}

.loginContent {
	width: 400px; 
	min-height: 550px;
	padding: 80px 30px;
	background-color: #ffffff1a;
}
.loginContent img {
	width: 200px;
}

.loginBtn {
	width: 100%;
    background-color: #ffffff;
    color: #8892bb;
    height: 40px;
    border: 0px; 
    font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: 20px;
}

.tabContainer {
    width: 400px;
	height: 100px;
	font-size: 22px;
}
.tab-item {
    width: 50%;
    height: 100%;
    float: left; 
    text-align: center;
    line-height: 100px;
    color: #ffffff;
    background: #6d7787;
    font-weight: bold;
    transition: 0.3s;
    border-top: 0px solid white;
    box-shadow: inset 0px 3px 0px 1px;
    opacity: 0.7; 
}
.tab-item.active { 
	background-color: #ffffff1a;
    text-align: center; 
    color: #fff;
    font-weight: bold;
	letter-spacing: 5px;  
	border-top: none;
	box-shadow: 0px 5px 0px 0px white;
	opacity: 1;
}


@media only screen and (max-width: 677px) {  
	.loginContainer {
		min-height: 100%;
	}
	.tab-item.active { 
		background-color: #ffffff00;
	}
}