.expandableRow .candidateListItem {   
    height: 65px;
    cursor: pointer; 
    background: #ffffff;
    color: #1a2b6d;
    margin-bottom: 1px;
    position: relative;
    border-bottom: 1px solid #1a2b6d14;
    padding: 18px;
}
.expandableRow .collapse {
    transition: max-height 0.5s;
    overflow: hidden;
    max-height: 0px;
}
.expandableRow .collapse.in {
    max-height: 700px;
} 
.expandableRow .nameContainer {   
    font-size: 15px;
    font-weight: bold;
    display: inline;
}
.expandableRow .coinContainer {
    width: 65px; 
    background-color: #1a2b6d; 
    color: #fff;
    background-image:url("../../../../files/images/spentCoins.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 5px; 
    float: right;
}
.expandableRow .coinAmount {
    margin-left: 25px;
    font-weight: bold;
    font-size: 15px;
}
.expandableRow .acceptedCount{
    width: 10px;
    height: 10px;
    display: inline-block;
    text-align: center;
    margin-left: 5px;   
    border-radius: 20px;
    font-size: 11px;
    font-weight: bold; 
    background-color: #4CAF50;  
    color: #fff;
}
.expandableRow .notAcceptedCount{
    width: 10px;
    height: 10px; 
    display: inline-block;
    margin-left: 5px; 
    text-align: center;   
    border-radius: 20px;
    font-size: 11px;
    font-weight: bold; 
    background-color: #de3141;  
    color: #fff;
}
 
.expandableRow .rowButton{
    width: 100%;
    cursor: pointer;
    background-color: #1a2b6d;
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    margin: 10px 10px;
    font-size: 20px;
    font-weight: bold;
}
.expandableRow .uploadFile{
    width: 200px;
}
.expandableRow .flex{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}
.expandableRow .resumeButtons{
    display: flex;
    flex-direction: row;
}
.expandableRow .heading{
    font-weight: bold;
}


.expandableRow .flexColumn{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center; 
    flex-wrap: wrap; 
}
.expandableRow .flex-item {
    width: 100%;  
} 
.expandableRow .info-container{
    display: inline-block;
    vertical-align: top;  
}
  
.expandableRow .info-container div { 
    height: 50px;
}

.expandableRow .info-container .email_icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-repeat: round;
    background-image: url('../../../../files/images/candidateIcons/email_icon.png'); 
}
.expandableRow .info-container .experience_icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-repeat: round;
    background-image: url('../../../../files/images/candidateIcons/experience_icon.png'); 
}
.expandableRow .info-container .tags_icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-repeat: round;
    background-image: url('../../../../files/images/candidateIcons/tags_icon.png'); 
}
.expandableRow .info-container .posted_icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-repeat: round;
    background-image: url('../../../../files/images/candidateIcons/posted_icon.png'); 
}
.expandableRow .info-container .email_icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-repeat: round;
    background-image: url('../../../../files/images/candidateIcons/email_icon.png'); 
}

.expandableRow .candidate_image {
    float: right;
}
   
span[class*='MuiPrivateTabIndicator-colorSecondary-'] {
    background-color: #1a2b6d !important; 
}

@media only screen and (max-width: 600px) {
    .expandableRow .flex {
        border-radius: 0px;
        flex-direction: column;
        background: #1a2b6d08;
        box-shadow: inset 0px 0px 10px grey;
    }  
} 
.expandableRow .score{ 
    height: 100%;
    vertical-align: middle;
    text-align: right;
    top: 0px;
    left: 0px;
    font-size: 10px;
    font-weight: bold;
    background-color: #4caf5054;
    position: absolute;
    color: #1a2b6d;
}