.expandableRow .row {
    padding: 15px 50px;
    font-size: 15px; 
    background: #1a2b6d;
    color: #fff;
    cursor: pointer;
    font: 24px Arial, sans-serif;
}
.expandableRow .collapse {
    transition: max-height 0.5s;
    overflow: hidden;
    max-height: 0px;
}
.expandableRow .collapse.in {
    max-height: 1000px;
}
.expandableRow .acceptedCount{
    width: 48px;
    height: 48px;
    margin-left: 10px;
    vertical-align: middle;
    text-align: center;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(32, 30, 131);
    border: 2px solid rgb(97, 83, 83);
}
.expandableRow .notAcceptedCount{
    width: 48px;
    height: 48px;
    margin-left: 10px;
    vertical-align: middle;
    text-align: center;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(131, 30, 30);
    border: 2px solid rgb(97, 83, 83);
}
.expandableRow .rowMargin{
    margin: 5px 0px;
}
.expandableRow .rowButton{
    cursor: pointer;
    border-radius: 7px;
    width: 250px;
    background-color: #1a2b6d;
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    margin: 10px 10px;
}
.expandableRow .uploadFile{
    width: 200px;
}
.expandableRow .flex{
    padding: 10px 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font: 24px Arial, sans-serif;
}
.expandableRow .flexColumn{
    flex: 1 0;
}
@media only screen and (max-width: 1000px) {
    .expandableRow .flex {
        border-radius: 0px;
        flex-direction: column;
    } 
    .expandableRow .rowMargin{
        margin: 10px 0px;
    }
} 