.expandableRow { 
    font-size: 1rem;
    color: #263c54;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #1a2b6d14;
    border-top: 1px solid #1a2b6d14;
    margin-top: 5px;
    margin-bottom: 5px;
}
.expandableRow .rowInfoContainer {
    display: flex;
}

.expandableRow .nameContainer {   
    font-size: 23px;
    font-weight: bold;
    display: inline;
}
.expandableRow .coinContainer {
    width: 65px; 
    background-color: #263c54; 
    color: #fff;
    background-image:url("../../../../files/images/spentCoins.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 5px; 
    float: right;
    margin-right: 25px;
}
.expandableRow .coinAmount {
    margin-left: 25px;
    font-weight: bold;
    font-size: 15px;
}
.expandableRow .acceptedCount{
    width: 10px;
    height: 10px;
    display: inline-block;
    text-align: center;
    margin-left: 5px;   
    border-radius: 20px;
    font-size: 11px;
    font-weight: bold; 
    background-color: #4CAF50;  
    color: #fff;
}
.expandableRow .notAcceptedCount{
    width: 10px;
    height: 10px; 
    display: inline-block;
    margin-left: 5px; 
    text-align: center;   
    border-radius: 20px;
    font-size: 11px;
    font-weight: bold; 
    background-color: #de3141;  
    color: #fff;
}
.expandableRow .flex{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}
.expandableRow .resumeButtons{
    display: flex;
    flex-direction: row;
}
.expandableRow .heading{
    font-weight: bold;
}

.expandableRow .flexColumn{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center; 
    flex-wrap: wrap; 
}
.expandableRow .flex-item {
    width: 100%;   
} 
.expandableRow .info-container{
    display: inline-block;
    vertical-align: top;  
}
  
.expandableRow .info-container div { 
    height: 50px;
    display: flex;
    vertical-align: middle;
    align-items: center; 
}

.expandableRow .candidate-info-item .heading {

}
.expandableRow .candidate-info-item .headingInfo {
    
}

.expandableRow .info-container .email_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: url('../../../../files/images/candidateIcons/email_icon.png');
    background-repeat: no-repeat;
    background-size: contain;  
}
.expandableRow .info-container .experience_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: url('../../../../files/images/candidateIcons/experience_icon.png');
    background-repeat: no-repeat;
    background-size: contain; 
}
.expandableRow .info-container .tags_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: url('../../../../files/images/candidateIcons/tags_icon.png');
    background-repeat: no-repeat;
    background-size: contain; 
}
.expandableRow .info-container .posted_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: url('../../../../files/images/candidateIcons/posted_icon.png');
    background-repeat: no-repeat;
    background-size: contain; 
}

.expandableRow .created-info-item {
    position: absolute;
    margin: auto;
    color: #263c54;
    font-size: 10px;
    padding: 5px;
    right: 0px;
    top: 0px;
    border-bottom-left-radius: 5px;
}

.expandableRow .accepted_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-image: url('../../../../files/images/candidateIcons/accept.png');
    background-repeat: no-repeat;
    background-size: cover; 
}
.expandableRow .not_accepted_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url('../../../../files/images/candidateIcons/reject.png');
    background-repeat: no-repeat;
    background-size: cover; 
}
 
.expandableRow .candidate_image { 
    float:right;
}

   
/* span[class*='MuiPrivateTabIndicator-colorSecondary-'] {
    background-color: #263c54 !important; 
} */

@media only screen and (max-width: 600px) {
    .expandableRow .flex {
        border-radius: 0px;
        flex-direction: column;
        background: #1a2b6d0a;
        box-shadow: inset 0px 2px 5px 1px grey;
    }  
} 
.expandableRow .score{ 
    height: 100%;
    vertical-align: middle;
    text-align: right;
    top: 0px;
    left: 0px;
    font-size: 10px;
    font-weight: bold;
    background-color: #4caf5054;
    position: absolute;
    color: #263c54;
}