
/* ----- WHAlE LOGO */
 
.whaleContainer {
    background-image: url("../../files/images/landingPage/whaleWs.png");
    background-repeat: no-repeat;
    background-size: contain; 
    height: 93px; 
    width: 350px;
    z-index: 1; 
    transition: 0.3s;
    position: relative;
}
.whaleContainer span {
    text-decoration: none;
    color: #fff;
}

.migalooLogoText {
    display: none;
}

.whaleSpray {
    position: absolute;
    margin-left: 281px;
    margin-top: 12px;
    transition: 0.3s;
    z-index: 1;
}


@media only screen and (max-width: 600px) {
    .whaleContainer {
        width: 260px;
        margin-top: 16px;
        margin-left: 0px;
    } 
    .whaleSpray { 
        margin-left: 206px;
        margin-top: -5px;
    }
}

/* ----- end WHAlE LOGO */