
/* ----- WHAlE LOGO */
 
.whaleContainer {
    width: 230px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding-top: 20px;
    margin: auto;
}
.whaleContainer img {
    width: 100%;
}
.whaleSpray {
    position: absolute;
    margin-left: -43px;
    margin-top: -6px;
    transition: 0.3s;
    z-index: 1;
} 
.whaleContainer svg {
    transform: scale(4);
}

@media only screen and (max-width: 768px) {  
}

/* ----- end WHAlE LOGO */