
/* ----- WHAlE LOGO */
 
.whaleContainer {
    width: 300px;
    transition: 0.3s;
    position: relative;
}
.whaleContainer img {
    width: 100%;
}
.whaleSpray {
    position: absolute;
    margin-left: -59px;
    margin-top: 4px;
    transition: 0.3s;
    z-index: 1;
} 

@media only screen and (max-width: 768px) {
    .whaleContainer {
        width: 200px;
    } 
    .whaleSpray { 
        margin-left: -46px;
        margin-top: -2px;
    }
}

/* ----- end WHAlE LOGO */