.back-button-home{
    width: 60px;
    height: 50px;
    margin-top: 10px;
    text-align: left;
    cursor: pointer;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../../files/images/backBtnW.png');
} 

.registerContent {
    height: 100%; 
    width: 100%;
    position: absolute;
}
.tab-button{
    width: 100%; 
    height: 50%;
    background-color: #ffffff;
    color: #1a2b6d;
    cursor: pointer;
    display: table; 
    font-size: 40px;
    font-weight: bold; 
    display: flex;
    align-items: center;
    justify-content: center;
} 
.tab-button-top {
    background-color: #1a2b6d;
    color: #fff;
} 

.chooseIcon {
    height: 50px;
}
 


@media only screen and (max-width: 677px) {
    .tab-button {   
        height: calc(50vh - 25px); 
    } 
    .back-button-home{ 
        background-image: url('../../../files/images/backBtn.png');
    }
}