.back-button{
    text-align: left;
    cursor: pointer;
}
.back-button:hover{
	color: #99999988;
}

.registerContent {
    height: 100%;;
    position: relative;
}
.tab-button{
    width: 100%; 
	background-color: #ffffff1a;
    cursor: pointer;
    height: 50%;
}
.tab-button:hover{
	background-color: #ffffff88;
}



@media only screen and (max-width: 677px) {


}