.soldCarList {
  width: 100%;
  float: left;
} 

.carSoldSliderContainer {
	width: 100%;
	min-height: 500px;
	float: left;
	background: #757575;
	padding: 50px;
}
.sliderSoldContain {
	max-width: 1550px;
	margin: auto;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1104 {
    width: 25%;
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 0px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    padding: 5px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
figure.snip1104 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
figure.snip1104 img {
	max-width: 100%;
	position: relative;
	opacity: 0.7;
    object-fit: contain;
}
figure.snip1104 h2,
figure.snip1104 h3 {
	position: absolute;
	left: 40px;
	right: 0px;
	display: inline-block;
    background: #2e2e2e;
    color: #ffffff;
    opacity: 0.5;
	padding: 0px;
	margin: 0;
	top: 5%;
	text-transform: uppercase;
	font-weight: 400;
}
figure.snip1104 h3 {
	top: 80%;
	background: #d32f2e;
	opacity: 0.3;
}
figure.snip1104 h2 span {
	font-weight: 800;
}
figure.snip1104:before {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	content: '';
	background: #ffffff;
	position: absolute;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transform: rotate(110deg) translateY(-50%);
	transform: rotate(110deg) translateY(-50%);
}
figure.snip1104:hover img,
figure.snip1104.hover img {
	opacity: 1;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
figure.snip1104:hover h2,
figure.snip1104.hover h2 {
	-webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
	transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}
figure.snip1104:hover:before,
figure.snip1104.hover:before {
	-webkit-transform: rotate(110deg) translateY(-150%);
	transform: rotate(110deg) translateY(-150%);
}
figure.snip1104:hover h3,
figure.snip1104.hover h3 {
	-webkit-transform: skew(-10deg) rotate(-10deg) translate(150%, -50%);
	transform: skew(-10deg) rotate(-10deg) translate(150%, -50%);
}
 



@media only screen and (max-width: 1159px) {
	.carSoldSliderContainer {
		padding:20px;
	}
	figure.snip1104 {
		width: 50%;
	}
}
@media only screen and (max-width: 669px) {
	.carSoldSliderContainer {
		padding:5px;
	}
	figure.snip1104 {
		width: 100%;
	}
}

