.landingSection4 {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
} 
.sp_contain {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px; 
    font-weight: bold;
    position: absolute;  
    background: #263c5494;
}
.sp_text{
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    float: left; 
    position: relative;
} 
 
.sp_choose{
    width: 100%;
    float: left; 
} 
.signUpBtnHome {
    width: 100%;
    text-align: center;
    padding: 20px;
    color: #fff; 
    cursor: pointer;
    font-size: 32px; 
    transition: 0.3s;
    animation: fadein 1.3s;
    -moz-animation: fadein 1.3s; /* Firefox */
    -webkit-animation: fadein 1.3s; /* Safari and Chrome */
    -o-animation: fadein 1.3s; /* Opera */
    float: left;
} 
.signUpBtnHome img {
    width: 40px;
    float: right;
    margin-top: -9px;
}  
.signUpBtnHome:hover {
    background-color: #5a718194; 
} 
.signUpBtnChoose { 
    color: #fff;
    background: unset;
    width: 48%;
    height: 70px;
    margin: 1%;
    background: #5d7481;
} 

@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}
@-moz-keyframes fadein { /* Firefox */
    from { opacity:0; }
    to { opacity:1; }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0; }
    to { opacity:1; }
}
@-o-keyframes fadein { /* Opera */
    from { opacity:0; }
    to { opacity: 1; }
}


@media only screen and (max-width: 1024px) {
    .signUpBtnChoose {
        font-size: 22px;
    }
} 

@media only screen and (max-width: 768px) {
}