.landingSection2{
    width: 100%;
    float: left;
    overflow: hidden;
    padding-top: 40px;
}

.slideImg { 
    padding: 0px 50px 50px 50px; 
}
.slideHeader {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px; 
}
.slick-prev {
    left: 0px;
    z-index: 9;
    width: 40px;
    height: 40px; 
}
.slick-next {
    right: 0px;
    z-index: 9;
    width: 40px;
    height: 40px;
}
.slick-next:before,
.slick-prev:before {
    font-size: 40px;
    color: #263c54;
}

.slick-dots li button:before {
    font-size: 20px;
    color: #fff; 
    }
.slick-dots li.slick-active button:before {
    color: #ffffff;
    opacity: 1; 
}
.slick-slide div {
    text-align: center;
    outline: none;
}

.slick-slide img {
    width: 100%;
    padding: 40px;
    border-radius: 50px;
}

.slick-slide.slick-current { 
    opacity: 0.3;
}
.slick-active~.slick-active~.slick-active { 
    opacity: 0.3;
} 

.slick-slider {
    padding-bottom:40px;
}


@media only screen and (max-width: 1024px) { 
    .slick-slide.slick-current { 
        opacity: 1;
    }
    .slick-active~.slick-active~.slick-active { 
        opacity: 1;
    }  
}
@media only screen and (max-width: 768px) {  
}