.profileContainer .profileImageContainer {
    text-align: center;
}
.profileContainer .profileImage img {
    width: 140px;
}
.profileContainer .profileImage {
    text-align: center;
    width: 33vh;
    height: 33vh;
    border-radius: 50%;
    border: 4px solid grey;
}
.profileContainer .profileName {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #e2e2e2;
    margin: auto;
}
.profileContainer .profileType {
    font-size: 32px;
    color: #1a2b6d;
    font-weight: bold;
    padding-top: 10px;
}
.profileContainer .profileEmail {
    font-size: 12px;
    padding-bottom: 20px; 
}

.profileContainer .profileBottom {
    width: 100%; 
    background: #1a2b6d;
    padding: 20px;
}
.profileBottom .profileItem:last-child {
    border-bottom: 0px;
}

.profileContainer .profileItem {  
    width: 100%;
    padding: 20px; 
    font-weight: bold;
    font-size: 14px; 
    color: #fff;
    border-bottom: 1px solid #5a6592;
} 
.profileContainer .numberCircle {
    position: relative;
    display: inline-block;
    color: rgb(70, 69, 69);
    text-align: center;
    font: 24px Arial, sans-serif; 
    margin: 5px;
}

.profileContainer .number {
    position: absolute;
    line-height: 100px;
    font-weight: bold;
    left: 0;
    right: 0;
}
.profileContainer .numberCoin {
    width: 110px;
    border-radius: 50%;
}