.alertItem{
    border-bottom: 1px solid #1a2b6d59;
    text-align: left;
    padding: 10px 15px;
    overflow: hidden;
    background: #1a2b6d0a;
    border-radius: 10px;
    margin-bottom: 10px;
}
.alertTimeRow{
    font-size: 10px;
    padding-top: 5px;
    text-transform: uppercase;
    color: #263c54;
}
.alertRow{
    line-height: unset;
    
}