.alertItem{
    border-bottom: 1px solid #e2e2e2;
    text-align: left;
    padding: 10px 15px;
    overflow: hidden;
}
.alertTimeRow{
    font-size: 12px;
    padding-top: 5px;
}
.alertRow{
    line-height: unset;
    
}