#navBar_admin {
    width: 100%;        
    height: 60px;
    float: left;
    background: #fff;
    border-top: 1px solid #cccccc;
    z-index: 99;
}

#navBar_admin a {
    width: 33.333333%;
    line-height: 70px;
    color: #1a2b6d;
    float: left;
    text-align: center;
    transition: 0.3s;
}
 

#navBar_admin .active .navBtn {
    background: #5a659226;
    color: #5a6592;
}

.navBtn {
    width: 130px;
    height: 50px;
    font-weight: bold;
    margin: auto;
    border-radius: 5px;
    position: relative;
}
.navBtn img {
    text-align: center;
    width: 30px;
    position: absolute;
    left: 50px;
}

.navText { 
    margin-top: 5px;
    white-space: nowrap;
} 
@media only screen and (max-width: 1024px) {  
    #navBar_admin {
        bottom: 0px;
        position: fixed;
        width: 100%;
    }  
    .navText {
        font-size: 10px;     
    }
}