.navbar_recruiter {
    width: 100%;        
    height: 60px;
    float: left;
    background: #fff;
    border-top: 1px solid #cccccc;
    z-index: 99;
}

.navbar_recruiter a {
    width: 25%;
    line-height: 50px;
    color: #1a2b6d;
    float: left;
    text-align: center;
    transition: 0.3s;
}
 

.navbar_recruiter .active .navBtn {
    background: #5a659226;
    color: #5a6592;
}

.navbar_recruiter .navBtn {
    width: 80%;
    height: 50px;
    font-weight: bold;
    margin: auto;
    border-radius: 5px;
    position: relative;
}
.navbar_recruiter .navBtn img {
    display: none;
    text-align: center;
    width: 30px;
    position: absolute;
    left: 37px;
}

.navbar_recruiter .navText { 
    margin-top: 5px;
    white-space: nowrap;
} 
@media only screen and (max-width: 1024px) {  
    .navbar_recruiter {
        bottom: 0px;
        position: fixed;
        width: 100%;
    }
    .navbar_recruiter a { 
        line-height: 70px;
    }
    .navbar_recruiter .navBtn img {
        display: block;
    }
    .navbar_recruiter .navText {
        font-size: 10px;     
    }
    .navbar_recruiter .navBtn {
        width: 100%;
    }
}