.lp2_HIWEmployer .hiwContainer {
    display: flex;
    flex-direction: column;
}
.lp2_HIWEmployer .hiwSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background: #263c540a;
    max-width: 1100px;
    margin: auto;
    padding: 50px;
}
.lp2_HIWEmployer .hiwImage{
    display: flex;
    justify-content: center; 
}  
.lp2_HIWEmployer .hiwDesc {
    display: flex; 
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 30px;
    margin: auto;
    font-size: 32px;

}


@media only screen and (max-width: 1024px) {  
    .lp2_HIWEmployer .hiwSection {
        flex-direction: column; 
        padding: 0px 20px;
        margin: 0px; 
    }
    .lp2_HIWEmployer .hiwDesc {
        padding: 0px;
    }
    .lp2_HIWEmployer .hiwContainer {
        overflow: hidden;
    }
}