.addCandidateContainer {
    width: 100%;
    float: left; 
    position: relative;  
    padding: 20px;  
    color: #263c54;
}
.addCandidateContainer .formSection {
    margin: auto auto 25px auto;
    max-width: 1000px;
    position: relative; 
} 


.addCandidateContainer .input-2 {
    width:100%; 
}
.addCandidateContainer .i-2 {
    width: 47.5%;
    float: left;
} 
.addCandidateContainer .il {
    margin-right: 5%;
}
 

@media only screen and (max-width: 1000px) {
    .addCandidateContainer .i-2,
    .addCandidateContainer .i-4,
    .addCandidateContainer .i-small {
        border-radius: 0px;
    } 
} 