.tagSearchContainer {
    position: relative;
    margin-bottom: 30px;
    outline: 0;
}
.tagSearchContainer .potentialTag {
    padding: 5px;
    border: 1px solid;
    max-width: 48%;
    font-weight: bold;
    cursor: pointer;
    line-height: 30px;
    flex: 1 0 100%;
    margin: 1%;
}
.tagSearchContainer .potentialTag:hover {
    background-color: #b1b9db3b;
}
.tagSearchContainer .autoCompleteBox {
    width: 100%;
    background-color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: 0;
    z-index: 50;
    min-height: 75px;
    padding-top: 30px;
}
.tagSearchContainer .tagCount {
    float: right;
}
.tagSearchContainer .tag-floating-label{
    font-size: 13px;
    color: #1a2b6d;
    opacity: 0.6;
    font-weight: bold; 
    margin-left: 10px;
}
.tagSearchContainer .tag{
    display: inline-block;
    border: 1px solid #1a2b6d;
    border-radius: 3px;
    background-color: #b1b9db3b;
    color: #1a2b6d;
    font-size: 17px;
    cursor: text;
    padding: 0px 5px;
    margin: 6px 5px 5px 5px;
    text-align: center;
    box-shadow: 0px 0px 5px 1px rgba(26, 43, 109, 0.5);
}
.tagSearchContainer .tagX{
    cursor: pointer;
    font-weight: bold;
    margin-left: 7px;
}
.tagSearchContainer .user-tag-wrp{
    border-bottom: 1px solid black; 
    overflow: hidden;
}
.tagSearchContainer .tag-listing{  
    line-height: 40px;   
    display: table-row;
}
.tagSearchContainer .tag-input{
    border: 0;
}
.tagSearchContainer .tag-input:focus{
    border: 0;
}