.tagSearchContainer {
    position: relative;
    margin-bottom: 30px;
    outline: 0;
}
.tagSearchContainer .potentialTag {
    padding: 5px;
    border: 1px solid;
    max-width: 150px;
    font-weight: bold;
    cursor: pointer;
    flex: 1 0 100%;
}
.tagSearchContainer .potentialTag:hover {
    background-color: lightsalmon;
}
.tagSearchContainer .autoCompleteBox {
    position: absolute;
    width: 100%;
    border: 1px solid black;
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border-top: 0;
    z-index: 50;
    min-height: 75px;
}
.tagSearchContainer .tagCount {
    float: right;
}
.tagSearchContainer .tag-floating-label{
    font-size: 13px;
    color: #1a2b6d;
    opacity: 0.6;
    font-weight: bold; 
    margin-left: 10px;
}
.tagSearchContainer .tag{
    border: 1px solid #1a2b6d ;
    border-radius: 10px;
    padding: 0px 10px;
    background-color: #b1b9db;
    color: #fff;
    margin: 3px;
    cursor: text;
    float:left;
}
.tagSearchContainer .tagX{
    cursor: pointer;
    font-weight: bold;
    margin-left: 7px;
}
.tagSearchContainer .user-tag-wrp{
    border-bottom: 1px solid black; 
    overflow: hidden;
}
.tagSearchContainer .tag-listing{ 
    line-height: 40px;
}
.tagSearchContainer .tag-input{
    border: 0;
}
.tagSearchContainer .tag-input:focus{
    border: 0;
}