.expandableJobRow .candidateExpand {   
    color: #fff;
    cursor: pointer; 
    padding: 15px 10px;
    font-size: 15px; 
    background: #263c54;
    color: #fff;
}
.expandableJobRow .coins{
    float: right;
}
.expandableJobRow .collapse {
    transition: max-height 0.5s;
    overflow: hidden;
    max-height: 0px;
}
.expandableJobRow .collapse.in {
    max-height: 1000px;
}
.expandableJobRow .newPost{
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.expandableJobRow .rowMargin{
    margin: 5px 0px;
}
.expandableJobRow .rowMargin a{ 
    color: #263c54;
}
.expandableJobRow .rowButton {
    width: 100px;  
    padding: 10px 5px; 
    font-size: 14px;
    cursor: pointer;
    float: left;
    text-align: center;
    background-color: #cecece70;
    transition: 0.3s;
}
 
.expandableJobRow .selected{
    background-color: #4CAF50;
    color: #000;
    float: right;
}
.expandableJobRow img {
    width: 30px;
} 
.expandableJobRow .notSelected {
    background-color: #cecece70;
    color: #58585861;
    width: 40px;
}
.expandableJobRow .notSelected img { 
    width: 20px;
}

.expandableJobRow .thumbsBtn {
    width: 30px;
} 
.expandableJobRow .uploadFile{
    width: 200px;
}
.expandableJobRow .flex {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size:14px;
    background: #8891b652;
    color: #263c54;
}
.expandableJobRow .flexColumn{
    flex: 1 0;
}
.expandableJobRow .rowData{
    white-space: nowrap;
}

@media only screen and (max-width: 1000px) {
    .expandableJobRow .flex {
        border-radius: 0px;
        flex-direction: column;
    } 
    .expandableJobRow .rowMargin{
        margin: 10px 0px;
    }
} 
@media only screen and (max-width: 500px) {
    .expandableJobRow .coins{
        font: 18px Arial, sans-serif;
    }
} 