.whaleWater {
    transform-origin: top left;
    transform: scale(1.8);
  }
  
  /* Spray Streams */
  .sprays path { 
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;
  }
  .spray-1 {
      stroke-dasharray: 19.57;
      stroke-dashoffset: 58.7125;
      animation: spray-1 4s infinite;
  }
  .spray-2 {
      stroke-dasharray: 48.2;
      stroke-dashoffset: 144.6033;
      animation: spray-2 4s infinite;
  }
  .spray-3 {
      stroke-dasharray: 29.06;
      stroke-dashoffset: 87.1881;
      animation: spray-3 4s infinite;
  }
  .spray-4 {
      stroke-dasharray: 34.79;
      stroke-dashoffset: 104.382;
      animation: spray-4 4s infinite;
  }
  .spray-5 {
      stroke-dasharray: 37.06;
      stroke-dashoffset: 111.1851;
      animation: spray-5 4s infinite;
  }
  .spray-6 {
      stroke-dasharray: 22.19;
      stroke-dashoffset: 66.5985;
      animation: spray-6 4s infinite;
  }
  .spray-7 {
      stroke-dasharray: 14.57;
      stroke-dashoffset: 43.7218;
      animation: spray-7 4s infinite;
  }
   
  
  /* Spray Streams */
  @keyframes spray-1 {  
      0% { stroke-dashoffset: 58.7125; }
      100% { stroke-dashoffset: 0; }   
  }
  @keyframes spray-2 {  
      0% { stroke-dashoffset: 144.6033; }
      100% { stroke-dashoffset: 0; }  
  }
  @keyframes spray-3 {  
      0% { stroke-dashoffset: 87.1881; }
      100% { stroke-dashoffset: 0; }  
  }
  @keyframes spray-4 { 
      0% { stroke-dashoffset: 104.382; }
      100% { stroke-dashoffset: 0; }  
  }
  @keyframes spray-5 { 
      0% { stroke-dashoffset: 111.19; }
      100% { stroke-dashoffset: 0; }  
  }
  @keyframes spray-6 { 
      0% { stroke-dashoffset: 66.599; }
      100% { stroke-dashoffset: 0; }  
  }
  @keyframes spray-7 { 
      0% { stroke-dashoffset: 43.7218; }
      100% { stroke-dashoffset: 0; }  
  }