.heroContainer {
    width: 100%; 
    height: 500px; 
    background-color: #cecece;
}

.heroImg { 
    width: 100%;
}

.heroLayer {  
    height: 600px; 
    background-repeat: no-repeat;
    background-size: inherit;
    position: absolute;
    width: 100%;  
    animation: moveHeroDesktop 270s infinite;
}
@keyframes moveHeroDesktop { 
    0% { background-position-x: 0; }
    50% { background-position-x: -2560px; }
    100% { background-position-x: 0; }   
}

#heroLayer0{
    background-image: url("../../files/images/landingPage/layer0.png"); 
}
#heroLayer1{
    background-image: url("../../files/images/landingPage/layer1.png");
    background-position-y: 20px;
}
#heroLayer2{
    background-image: url("../../files/images/landingPage/layer2.png");
    background-position-y: 120px;
}
#heroLayer3{
    background-image: url("../../files/images/landingPage/layer3.png");
    background-position-y: 60px;
}


@media only screen and (max-width: 1024px) { 
    .heroContainer { 
        height: 360px;
    }
    .heroImg { 
        width: 100%;
        height: 430px;
    }
    .heroLayer {  
        height: 430px; 
        background-size: 2000px;
        animation: moveHeroMobile 60s infinite;
    } 
    @keyframes moveHeroMobile { 
        0% { background-position-x: 1000; }
        50% { background-position-x: -1000px; }
        100% { background-position-x: 1000; }   
    }
    #heroLayer0{ 
        background-size: cover;
    }
    #heroLayer1{ 
        background-position-y: 200px;
    }
    #heroLayer2{ 
        background-position-y: 210px;
    }
    #heroLayer3{ 
        background-position-y: 200px;
    }
}